[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
cloudinary = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-admin = "*"
requests = "*"
flask-jwt-extended = "*"

[dev-packages]

[requires]
python_version = "3.12"
