.home {
  position: relative;
  width: 100%;
  max-width: 80%; /* Ajusta el tamaño máximo según sea necesario */
  height: auto;
  overflow: hidden; /* Asegura que la imagen no desborde el contenedor */
}

.foto-home {
  width: 100%;
  height: 300px; /* Establece una altura fija para hacer la imagen más chata */
  display: block;
  object-fit: cover; /* Ajusta cómo se redimensiona la imagen */
  object-position: center; /* Centra la imagen si es recortada */
}

.titulo-home {
  font-size: 10vw; /* Utiliza una unidad relativa para que el texto se escale */
  font-weight: bold;
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.7); /* Para mejorar la legibilidad del texto */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(64, 248, 245);
  text-align: center;
  padding: 0 10px; /* Añade padding para evitar que el texto se toque con los bordes en pantallas pequeñas */
  max-width: 90%; /* Limita el ancho del texto en pantallas pequeñas */
}

.titulo-home-2{
  margin-bottom: 8rem; /* Añade un margen inferior para evitar que el texto se superponga con otros elementos */
  z-index: 1; /* Asegura que el texto esté por encima de la imagen */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta el texto que se desborda */
  font-family: 'MiFuente', sans-serif;
  color: #ffffff;
}


/* Media queries para ajustar el diseño en diferentes tamaños de pantalla */

/* Pequeñas pantallas (teléfonos) */
@media (max-width: 600px) {
  .foto-home {
    height: 200px; /* Reduce la altura de la imagen en pantallas pequeñas */
  }
  .titulo-home {
    font-size: 8vw; /* Ajusta el tamaño de la fuente para pantallas pequeñas */
    padding: 0 5px; /* Reduce el padding en pantallas pequeñas */
  }
}

/* Pantallas medianas (tabletas) */
@media (min-width: 601px) and (max-width: 1024px) {
  .foto-home {
    height: 250px; /* Ajusta la altura de la imagen en pantallas medianas */
  }
  .titulo-home {
    font-size: 6vw; /* Ajusta el tamaño de la fuente para pantallas medianas */
  }
}

/* Pantallas grandes (desktops) */
@media (min-width: 1025px) {
  .foto-home {
    height: 300px; /* Mantén una altura fija para pantallas grandes */
  }
  .titulo-home {
    font-size: 4vw; /* Ajusta el tamaño de la fuente para pantallas grandes */
  }
}

  