.home {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

.main-container {
  display: grid;
  grid-template-rows: 
    var(--navbar-height) 
    auto 
    1fr 
    var(--footer-height);
  min-height: 100vh;
}
.foto-home {
  width: 100%;
  height: 300px; /* Establece una altura fija para hacer la imagen más chata */
  display: block;
  object-fit: cover; /* Ajusta cómo se redimensiona la imagen */
  object-position: center; /* Centra la imagen si es recortada */
}
.titulo-container {
  position: relative;
  width: 100%;
  height: 300px; /* o el tamaño que desees */
  overflow: hidden;
  contain: strict; /* Aisla el layout */
}

.titulo-home {
  font-weight: bold;
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.7); /* Para mejorar la legibilidad del texto */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(64, 248, 245);
}

/* Media queries para ajustar el diseño en diferentes tamaños de pantalla */

/* Pequeñas pantallas (teléfonos) */
@media (max-width: 600px) {
  .foto-home {
    height: 200px; /* Reduce la altura de la imagen en pantallas pequeñas */
  }
  .titulo-home {
    font-size: 8vw; /* Ajusta el tamaño de la fuente para pantallas pequeñas */
    padding: 0 5px; /* Reduce el padding en pantallas pequeñas */
  }
}

/* Pantallas medianas (tabletas) */
@media (min-width: 601px) and (max-width: 1024px) {
  .foto-home {
    height: 250px; /* Ajusta la altura de la imagen en pantallas medianas */
  }
  .titulo-home {
    font-size: 6vw; /* Ajusta el tamaño de la fuente para pantallas medianas */
  }
}

/* Pantallas grandes (desktops) */
@media (min-width: 1025px) {
  .foto-home {
    height: 300px; /* Mantén una altura fija para pantallas grandes */
  }
  .titulo-home {
    font-size: 4vw; /* Ajusta el tamaño de la fuente para pantallas grandes */
  }
}

.filter-container {
  margin: 1rem auto;
  max-width: 500px;
}

.tarjetas-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  contain: content; /* Previene reflows */
}