.navbar {
  background-color: aquamarine;
  padding: 20px;
  /* position: fixed; */
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo-img {
    font-size: 10px;
}
.admin-btn{
    height: 100%;
}
.navbar-brand {
  display: flex;
  align-items: center;
    font-family: 'MiFuente', sans-serif;
    font-size: 2rem;
    color: #000000;
    text-decoration: none;
    text-shadow: #ffffff 2px 2px 2px;
    margin-right: 20px;
}